
parser.py
todo

assets/event/emi_grinding/*
assets/event/emi_shed/*
assets/event/lilly_afterbath/*
assets/event/shizune_hcg_tied/*
assets/event/thumb/*
assets/event/shizu_undressing/*
assets/event/rin_wet/*
assets/event/rin_pair/*
assets/event/rin_h2/*
assets/event/rin_h/*
assets/event/lilly_cowgirl/*
assets/event/lilly_handjob/*
assets/event/lilly_bath/*
assets/event/emi_ending_glad.jpg
assets/event/emi_ending_serious.jpg
assets/event/emi_ending_smile.jpg
assets/event/emi_miss_closed.jpg
assets/event/emi_miss_open.jpg
assets/event/hanako_bed_boobs_blush.jpg
assets/event/hanako_bed_boobs_glance.jpg
assets/event/hanako_bed_crotch_blush.jpg
assets/event/hanako_bed_crotch_glance.jpg
assets/event/hanako_missionary_clench.jpg
assets/event/hanako_missionary_closed.jpg
assets/event/hanako_missionary_open.jpg
assets/event/hanako_missionary_underwear.jpg
assets/event/hanako_scars.jpg
assets/event/hanako_scars_large.jpg
assets/event/lilly_masturbate.jpg
assets/event/lilly_masturbate_come.jpg
assets/event/lilly_masturbate_come_face.jpg
assets/event/misha_naked.jpg
assets/event/misha_sex_aside.jpg
assets/event/misha_sex_closed.jpg
assets/event/rin_high_frown.jpg
assets/event/rin_high_grin.jpg
assets/event/rin_high_grinwide.jpg
assets/event/rin_high_oneeye.jpg
assets/event/rin_high_open.jpg
assets/event/rin_high_smile.jpg
assets/event/rin_masturbate_away.jpg
assets/event/rin_masturbate_doubt.jpg
assets/event/rin_masturbate_frown.jpg
assets/event/rin_masturbate_hug.jpg
assets/event/rin_masturbate_surprise.jpg
assets/event/rin_relief_down.jpg
assets/event/rin_relief_down_large.jpg
assets/event/rin_relief_up.jpg
assets/event/rin_relief_up_large.jpg
assets/event/shizu_couch.jpg
assets/event/shizu_pushdown.jpg
assets/event/shizu_straddle_closed.jpg
assets/event/shizu_straddle_come.jpg
assets/event/shizu_straddle_open.jpg
assets/event/shizu_straddle_smile.jpg
assets/event/shizu_straddle_tease.jpg
assets/event/shizu_table_comeclosed.jpg
assets/event/shizu_table_comeopen.jpg
assets/event/shizu_table_normal.jpg
assets/event/shizu_table_smile.jpg
assets/sprites/eminude/close/eminude_angry_close.png
assets/sprites/eminude/close/eminude_blush_close.png
assets/sprites/eminude/close/eminude_closedsmile_close.png
assets/sprites/eminude/close/eminude_evil_close.png
assets/sprites/eminude/close/eminude_frown_close.png
assets/sprites/eminude/close/eminude_grin_close.png
assets/sprites/eminude/close/eminude_happy_close.png
assets/sprites/eminude/close/eminude_neutral_close.png
assets/sprites/eminude/close/eminude_pout_close.png
assets/sprites/eminude/close/eminude_sad_close.png
assets/sprites/eminude/close/eminude_smile_close.png
assets/sprites/eminude/close/eminude_weaksmile_close.png
assets/sprites/eminude/close/eminude_wink_close.png
assets/sprites/eminude/eminude_awayfrown.png
assets/sprites/eminude/eminude_blush.png
assets/sprites/eminude/eminude_closedsmile.png
assets/sprites/eminude/eminude_evil.png
assets/sprites/eminude/eminude_frown.png
assets/sprites/eminude/eminude_grin.png
assets/sprites/eminude/eminude_happy.png
assets/sprites/eminude/eminude_neutral.png
assets/sprites/eminude/eminude_pout.png
assets/sprites/eminude/eminude_weaksmile.png
assets/sprites/eminude/eminude_wink.png
assets/sprites/hanagown/close/hanagown_stockworry_blush_close.png
assets/sprites/hanagown/hanagown_stockdistant_blush.png
assets/sprites/hanagown/hanagown_stocknormal_blush.png
assets/sprites/kenji/kenji_tsun_naked.png
assets/sprites/lilly/close/lilly_behind_listen_nak_close.png
assets/sprites/lilly/lilly_behind_emb_nak.png
assets/sprites/lilly/lilly_behind_giggle_nak.png
assets/sprites/lilly/lilly_behind_pout_nak.png
assets/sprites/lilly/lilly_behind_reminisce_nak.png
assets/sprites/lilly/lilly_behind_sleepy_nak.png
assets/sprites/lilly/lilly_behind_smile_nak.png
assets/sprites/lilly/lilly_behind_smileclosed_nak.png
assets/sprites/lilly/lilly_behind_weaksmile_nak.png
assets/sprites/shizu/shizu_behind_blank_nak.png
assets/sprites/shizu/shizu_behind_frown_nak.png
assets/sprites/shizu/shizu_behind_smile_nak.png
assets/sprites/shizu/shizu_behind_smilelow_nak.png
